html, body {
  height: 100%;
}

#main {
  display: flex;
  width: 100%;
  background-color: #FFFAF0;
  border: 0;
  padding: 0;
  margin: auto;
  height: 100%;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  font-family: 'Droid Serif', serif;
  max-height: 700px;
  transition-duration: 0.3s;
  flex-grow: 1;
}

#right {
 display: flex;
 width: 50%;
 flex: 0 0 auto;
 background-image: url("../images/blackandwhite.png");
 background-size: cover;
 opacity: 0.95;
 background-position: center;
 background-repeat: no-repeat;
}

h1 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Petit Formal Script', cursive;
  margin: 0;
  padding: 5px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
}

nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color .5s ease;
}

nav a:hover::after, nav a:focus {
  width: 100%;
  background: #000;
}

nav {
  padding-bottom: 5px;
}

.aboutText {
  padding: 10px;
  margin: 0 20px;
}

.links {
  color: #000;
  text-decoration: none;
  font-size: 23px;
}

.pLinks {
  color: #000;
  text-decoration: underline;
}

.about {
  display: none;
  overflow-y: scroll;
}

.portfolio {
  display: none;
  width: 100%;
  overflow-y: scroll;
}

.cv {
  display: none;
  overflow-y: scroll;
}

.contact {
  margin: 20px 0;
  display: none;
  overflow-y: scroll;
}

.portfolioImage {
  padding: 20px;
}

.portfolioImage img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  max-width: 100%;
  border-radius: 5px;
}

.portfolioImage p {
  font-size: 18px;
}

.cvImage {
  padding: 10px;
  width: 70%;
  height: 100%;
}

#github .links {
  font-size: 20px;
}

footer {
  padding-top: 10px;
}

/*about background*/
.pink {
  background-color: #FFF5EE;
}

/*portfolio background*/
.yellow {
  background-color:	#FFFFF0;
}

/*cv background*/
.blue {
  background-color: #F8F8FF;
}

/*contact background*/
.green {
  background-color: #EAFEEA;
}

@media (max-width: 913px) {
  #right {
    display: none;
  }
}

@media (max-width: 320px) {
  .welcome h1 {
    font-size: 30px;
    padding: 5px 5px;
  }

  p {
    font-size: 18px;
  }

  .aboutText {
    margin: 0;
  }

}
